.con{
  background-color: black;
  margin-left: 720px;
  margin: 0;
}
ul {
  list-style-type: none;
  margin-left:37%;
padding:0;
}

.rating{
  margin-left:37%;
}

.page{
  background-color:#dfe6e0;
padding:2%;
margin: auto;
}

.fa{
  color:#f2dd1d;
}

.card-img-top{
width:80%;
height:290px;
}

.view{
  background-color:#dfe6e0;
  padding:10px;
  margin:20px;
}

.card{
  width:95%;
  padding:0px;
  margin-left: 2%;
}

.card-footer{
  border: none;
  outline: 0;
  padding: 12px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.price{
color:#ff4517;
  font-weight: 600;

}
.cart{
  margin-left: 770px;
}
