body {
    margin: 0;
    font-family: system-ui;
    background-color: rgb(69, 202, 75);
}
.First {
    background-color: rgb(60, 161, 51);

    background-size: size;
    padding-top: 100px;
    padding-bottom: 100px;

  

}